jobs:
  test:
    runs-on: ubuntu-latest
    env:
      PR_AUTHOR: ${{ github.event.pull_request.user.login }}
    steps:
      - name: script
        run: |
          echo "PR author: $PR_AUTHOR"
        shell: bash